---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <h2>Bio</h2>
  <p>
    Kenna Lewis was born in 2000 in Cincinnati, Ohio. In 2024, she received her BFA in Fine Arts
    from the University of Cincinnati, School of Design, Architecture, Art, and Planning (DAAP),
    and her Associate's degree in Graphic Design from the University of Cincinnati Blue Ash in
    2024. Lewis has been included in various exhibitions, including "Art & Earth Day Student
    Exhibition" at Pyramid Hill, Hamilton, Ohio, and "Sophomore Research Studio: Confronting
    ________ Virtual Exhibition" at the University of Cincinnati DAAP, Cincinnati, Ohio. Lewis
    also has notable experience in commissions and public works, including leading a team in
    creating a temporary mural for UC's Fifth Third Arena Vault in 2020. This year, she received
    the Outstanding Applied Graphic Communication Graduate award from UC Blue Ash College. Lewis
    currently lives and works in Cincinnati, Ohio, exploring themes of the cloud and decentralized
    internet through her video and installation art practice.
  </p>

  <h2>Artist Statement</h2>
  <p>
    As a digital native, I see the Internet as a domestic partner that I have known ever since I
    was able to type on a computer. As a result of living with, and using the Internet for the
    majority of my life, I have inadvertently taught the Cloud much about me, from the subtle
    nuances of my blogged personality to every one of my past residential addresses.
  </p>
  <p>
    Despite the extensive personal file that the Cloud has gathered on my identity, it remains an
    impersonal structure, who holds power and disperses its personality among bureaucratic agents
    like Google, Facebook, and Amazon.
  </p>
  <p>
    The Cloud knows who I am, but its identity remains dispersed among bureaucratic tech
    conglomerates who decide how its power should be wielded. The multilayered, mutable
    personality of the Cloud dictates my interrogation and response.
  </p>
  <p>
    In response, I interrogate AI, in a way that is exploratory and investigative. Starting with
    conversations with ChatGPT and other AI models, I gather information, probe AI's biases, and
    end up with a work of speculative fiction that hints at a proposed truth. This compromise
    between my biases, and the Cloud's informs the imagery, narrative, and environment of my
    video art. Utilizing image processing software, stock videography, and gathered internet
    refuse, I construct speculative objects to contemplate on.
  </p>
</Layout>
